body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    text-align: center;
}

header {
    background-color: steelblue;
    grid-row: 1; 
    grid-column: 1/4;
}

footer {
    grid-column: 1/4;
    background-color: purple;
}

main {
    background-color: cyan;
}